In [73]:
import numpy as np  # for numerical computations
import pandas as pd  # for data manipulation and analysis
import sklearn
import matplotlib.pyplot as plt

In [25]:
temp_df = pd.read_csv(r'D:\Yuvraj\My practice\NLP Practice\dataset\IMDB_Dataset.csv')

In [29]:
temp_df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [46]:
df=temp_df.iloc[:20000]
df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
19995  ok. for starters, taxi driver is amazing. this...  negative
19996  It's sort of hard for me to say it, because I ...  negative
19997  I still liked it though. Warren Beatty is only...  positive
19998  We could still use Black Adder even today. Ima...  positive
19999  This so-called "documentary" tries to tell tha...  negative

[20000 rows x 2 columns]

In [32]:
df['review'][1]

'A wonderful little production. <br /><br />The filming technique is very unassuming- very old-time-BBC fashion and gives a comforting, and sometimes discomforting, sense of realism to the entire piece. <br /><br />The actors are extremely well chosen- Michael Sheen not only "has got all the polari" but he has all the voices down pat too! You can truly see the seamless editing guided by the references to Williams\' diary entries, not only is it well worth the watching but it is a terrificly written and performed piece. A masterful production about one of the great master\'s of comedy and his life. <br /><br />The realism really comes home with the little things: the fantasy of the guard which, rather than use the traditional \'dream\' techniques remains solid then disappears. It plays on our knowledge and our senses, particularly with the scenes concerning Orton and Halliwell and the sets (particularly of their flat with Halliwell\'s murals decorating every surface) are terribly well done.'

In [47]:
df['sentiment'].value_counts()

sentiment
negative    10097
positive     9903
Name: count, dtype: int64

In [48]:
df.isnull().sum()

review       0
sentiment    0
dtype: int64

In [49]:
df.duplicated().sum()

np.int64(74)

## To findout and removing diplicates values in dataset

In [51]:
df.drop_duplicates(inplace=True)

C:\Users\acs\AppData\Local\Temp\ipykernel_5244\3006716147.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(inplace=True)

In [52]:
df.duplicated().sum()

np.int64(0)

## To remove html tags

In [59]:
import re

def remove_html_tags(text):
    clean = re.compile('<.*?>')
    return re.sub(clean, '', text)

In [60]:
df['review'].apply(remove_html_tags)

0        One of the other reviewers has mentioned that ...
1        A wonderful little production. The filming tec...
2        I thought this was a wonderful way to spend ti...
3        Basically there's a family where a little boy ...
4        Petter Mattei's "Love in the Time of Money" is...
                               ...
19995    ok. for starters, taxi driver is amazing. this...
19996    It's sort of hard for me to say it, because I ...
19997    I still liked it though. Warren Beatty is only...
19998    We could still use Black Adder even today. Ima...
19999    This so-called "documentary" tries to tell tha...
Name: review, Length: 19926, dtype: object

## To remove Punchuation marks

In [66]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [67]:
def remove_puntuation(text):
    return text.translate(str.maketrans('', '', exclude))

In [68]:
exclude=string.punctuation

In [69]:
df['review']= df['review'].apply(remove_puntuation)

C:\Users\acs\AppData\Local\Temp\ipykernel_5244\3425944898.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['review']= df['review'].apply(remove_puntuation)

In [70]:
df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production br br The filmin...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically theres a family where a little boy J...  negative
4      Petter Matteis Love in the Time of Money is a ...  positive
...                                                  ...       ...
19995  ok for starters taxi driver is amazing this th...  negative
19996  Its sort of hard for me to say it because I so...  negative
19997  I still liked it though Warren Beatty is only ...  positive
19998  We could still use Black Adder even today Imag...  positive
19999  This socalled documentary tries to tell that U...  negative

[19926 rows x 2 columns]

## making lowercase

In [75]:

df['review']=df['review'].apply(lambda x:x.lower())

C:\Users\acs\AppData\Local\Temp\ipykernel_5244\625541079.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['review']=df['review'].apply(lambda x:x.lower())

## To remove stopwords in our data

In [77]:
from nltk.corpus import stopwords

In [87]:
def remove_stopwords(text):
     new_text =[]

     for word in text.split():
         if word in stopwords.words('english'):
          new_text.append('')
          else:
               new_text.append(word)
         x= new_text[:]
         new_text.clear()
         return" ".join(x)

SyntaxError: invalid syntax (2230565014.py, line 7)

In [88]:

df['review'].apply(remove_stopwords)

NameError: name 'remove_stopwords' is not defined

In [90]:
X= df.iloc[:,0:1]
y= df['sentiment']

In [91]:
X

                                                  review
0      one of the other reviewers has mentioned that ...
1      a wonderful little production br br the filmin...
2      i thought this was a wonderful way to spend ti...
3      basically theres a family where a little boy j...
4      petter matteis love in the time of money is a ...
...                                                  ...
19995  ok for starters taxi driver is amazing this th...
19996  its sort of hard for me to say it because i so...
19997  i still liked it though warren beatty is only ...
19998  we could still use black adder even today imag...
19999  this socalled documentary tries to tell that u...

[19926 rows x 1 columns]

In [94]:
y

0        positive
1        positive
2        positive
3        negative
4        positive
           ...
19995    negative
19996    negative
19997    positive
19998    positive
19999    negative
Name: sentiment, Length: 19926, dtype: object

In [98]:
from sklearn.preprocessing import LabelEncoder

# Instantiate the LabelEncoder
encoder = LabelEncoder()

# Assuming the target variable is the 'sentiment' column
y = df['sentiment']

# Fit and transform the 'sentiment' column
y_encoded = encoder.fit_transform(y)

# Optional: Assign the encoded values back to the DataFrame if needed
df['sentiment'] = y_encoded

C:\Users\acs\AppData\Local\Temp\ipykernel_5244\2568893513.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sentiment'] = y_encoded

In [100]:
y_encoded

array([1, 1, 1, ..., 1, 1, 0])

In [101]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [102]:
X_train.shape

(15940, 1)

## Applying BOW(Bag of Words) Technique

In [112]:
from sklearn.feature_extraction.text import CountVectorizer

In [115]:
cv = CountVectorizer

In [116]:
X_train_bow = cv.fit_transform(X_train['review']).toarray()
X_test_bow = cv.fit_transform(X_test['review']).toarray()

AttributeError: 'Series' object has no attribute '_validate_params'